body {
    background-color: #EEEEEE;
    height: 900px;
}

#goals {
	padding-top: 5px;
	margin-top: 5px;
	font-size: 12px;
	padding-left: 15px;
}

#goals h1 {
	margin-top: 5px;
	margin-bottom: 8px;
}

ul {
	padding-left: 14px;
	padding-right: 10px;
	font-size: 12px;
}

ul li {
	padding-left: 5px;
	padding-bottom: 10px;
	padding-right: 10px;
}

